[mysqld]
host_cache_size=0
pid-file=/var/lib/mysql/mysqld.pid
# Disable TLS for local dev to avoid self-signed cert noise
# Using tls-version empty string as suggested by deprecation notice
# Note: some images require loose- prefix for unknown options
loose-tls-version=
# Ensure bind address is default
bind-address=0.0.0.0

[client]
ssl-mode=DISABLED
